.navbar{

background-color:rgb(238, 95, 42);
text-decoration: solid;
color: white;
padding: 2%;
padding-left: 20%;

}
body {
overflow-y: scroll;
overflow-x: hidden;
background-color: white;

   }
.main{
    display: flex;
    background-color: black;
   
        
}
.main1{
    
    text-decoration: solid;
     color: white;
     margin-left: 25px;


  
}
.pic1{
    position: relative;
    bottom: 20%;
    
    
}
.vvv{
    text-decoration: none;
     color: green;
     font-size: larger;

}



.main2{
     display: flex;
     gap: 1%;
     background-color:white;
     

}
.pics{
    background-color:maroon;
    margin-top: 5px;
}

.statement{
    text-decoration: solid;
    color:rgb(7, 7, 7);
    font-size: large;
}
.person{
    color: maroon;
}
.middle{
    text-align: center;
    text-decoration: solid;
    color: maroon;

}
.l2{
    width: 50%;
    height: 1%;
    border: solid;
}


.l1{
    width: 50%;
    border: solid;
    color: green;
    margin-left:20px;

}
.pic2{

    width:85%;
    /* padding: 5%; */
    height: 70%;
    border-radius: 50%;
    background-color: black;
}
.color1{
    color: green;
}
.bu{
    padding: 2%;
    background-color: orangered;
    text-decoration: solid;
    color:white;
    margin-left:20px;

}
.bu {
    transition-duration: 0.4s;
  }
  
  .bu:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .pic4{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}
.pic5{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}
.pic6{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}
.pic7{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}
.pic8{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}
.pic9{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}

.pic10{

    width: 500px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
}

#icon2{
   padding: 25px;
    background-color:rgb(50, 150, 233);
    text-decoration: solid;
    color: white;
    font-size: 150px;
    border-radius: 50%;

}

#icon3{
   padding: 25px;
    background-color:rgb(50, 150, 233);
    text-decoration: solid;
    color: white;
    font-size: 150px;
    border-radius:50%;


}
#icon4{
   padding: 25px;
    background-color:rgb(50, 150, 233);
    text-decoration: solid;
    color: white;
    font-size: 150px;
    border-radius: 50%;


}
#icon5{
   padding: 25px;
    background-color:red;
    text-decoration: solid;
    color: green;
    font-size: 150px;
    border-radius: 50%;


}
.icon{
    width: 20%;
    height: 10%;
    background-color: green;
    text-decoration: solid;
    color: white;

}
.mn{
    align-items: center;
    margin-left: 10%;
    display: flex;
    gap: 5%;
}

















